body{
    background-color:white;
    margin:150px;
    margin-top: 30px;
     margin-right: 300px;
    margin-left: 300px;;
    font-size:x-large;
}
.video{
    height:180px;
    width:100%;
    display:flex;
   
    justify-content: center;
}
.gif{
    height:150px;
    width:600px;
}
h1{
    color:darkslategray;
}
.im{
    clip-path: circle(50.0% at 50% 50%);
    position:relative;
    left:50px;
    top:10px;
    border:2px solid darkslategray;
    padding:3px;
    border-radius: 50%;
    margin:2px;
}
.text{
    position:relative;
     right:60px;
     bottom:50px;
     font-family: 'Anek Bangla', cursive;
     
    
    
}
.link{
    display:inline-block;
    color:black;
    text-decoration: underline;
}

.image{
    float:right;
}
.about{
    clear: right;
    font-family: 'Babylonica', cursive;
}
h3{
    color:darkgreen;
    
}
.flex-container{
    display:flex;
    justify-content: space-between;
}

.skill{
    height:13px;
    width:250px;
    border:1px solid black;
    border-radius: 4px;
    display:inline-block;
}

.c{
    height:13px;
    width:0px;
    border-radius: 4px;
    animation:first 8s ease 1 forwards 6s;
}
.cc{
    height:13px;
    width:0px;
    border-radius: 4px;
    animation:second 8s ease 1 forwards 6s;
}
.html{
    height:13px;
    width:0px;
    border-radius: 4px;
    animation:third 8s ease 1 forwards 6s;
}
.css{
    height:13px;
    width:0px;
    border-radius: 4px;
    animation:fourth 8s ease 1 forwards 6s;
}
.dsa{
    height:13px;
    width:0px;
    border-radius: 4px;
    animation:fifth 8s ease 1 forwards 6s;
}
@keyframes first{
    0%{
        background-color:darkgrey;
        width:0px;
    }
 
    
    100%{
        background-color:grey;
        width:200px;
    }
}
@keyframes second{
    0%{
        background-color:darkgrey;
        width:0px;
    }
   
    100%{
        background-color:grey;
        width:125px;
    }
}
@keyframes third{
    0%{
        background-color:darkgrey;
        width:0px;
    }
    
    100%{
        background-color:grey;
        width:200px;
    }
}
@keyframes fourth{
    0%{
        background-color:darkgrey;
        width:0px;
    }
    100%{
        background-color:grey;
        width:175px;
    }
}
@keyframes fifth{
    0%{
        background-color:darkgrey;
        width:0px;
    }
    100%{
        background-color:grey;
        width:20px;
    }
}
.bottom{
    color:black;
    text-align: center;
}
.ajikya{
    display:inline-block;
    color:darkgreen;
}
@media screen and (max-width:550px){
        body{
            margin-left:0px;
            margin-right:0px;
            margin:0px;
            margin-top:50px;
            font-size: smaller;
            padding: 20px;
        }
     .flex-container{
        flex-direction: column;
        justify-content: space-around;
     }
     .icon{
        clear:right;
     }
     .text{
        position:relative;
         right:30px;
         bottom:30px;
         font-family: 'Anek Bangla', cursive;  
    }
    .im{
        clip-path: circle(50.0% at 50% 50%);
        position:relative;
         left:10px; 
        top:10px;
        border:2px solid darkslategray;
        padding:3px;
        border-radius: 50%;
        margin:2px;
        height:180px;
    
    }
    .image{
        float:none;
       
   }
   .gif{
    height:120px;
    width:400px;
   }
}
@media screen and (max-width:1500px){
    body{
        margin-left:100px;
        margin-right:100px;
        margin:100px;
        margin-top:50px;
        font-size: smaller;
        
    }
}
